[submodule "third_party/RSS_proposed"]
	path = third_party/RSS_proposed
	url = https://github.com/serendipitjx/RSS_proposed.git
[submodule "third_party/RSS_sqp"]
	path = third_party/RSS_sqp
	url = https://github.com/serendipitjx/RSS_sqp.git
[submodule "third_party/RSS_fmincon"]
	path = third_party/RSS_fmincon
	url = https://github.com/serendipitjx/RSS_fmincon.git
