[submodule "algorithms/RSS_proposed"]
	path = algorithms/RSS_proposed
	url = https://github.com/serendipitjx/RSS_proposed.git
[submodule "algorithms/RSS_sqp"]
	path = algorithms/RSS_sqp
	url = https://github.com/serendipitjx/RSS_sqp.git
[submodule "algorithms/RSS_fmincon"]
	path = algorithms/RSS_fmincon
	url = https://github.com/serendipitjx/RSS_fmincon.git
[submodule "algorithms/RSS_active_set"]
	path = algorithms/RSS_active_set
	url = https://github.com/serendipitjx/RSS_fmincon.git
	branch = active-set
